/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.container {
  max-width: 902px;
  margin: 0 auto;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* h2 {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 1rem;
  }
  
  p {
    color: #6c757d;
    line-height: 1.5;
  
  } */

.main-content {
  padding: 1.5rem;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  background-color: #f1f3f5;
  min-height: 40px;
  /* Minimum height for the text area */
  margin-bottom: 2rem;
  color: #495057;
  text-align: left;
}

.btn-style {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
} */

.loader {
  width: 50px;
}

.loaderDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


.cameradiv {
  /* position: absolute; */
  width: 300px;
  right: 10px;
}

.cameradiv video {
  width: 100%;

}


.feedback-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin: 20px auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.feedback-icon img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.feedback-content {
  flex: 1;
}

.feedback-text {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.highlight {
  color: #007BFF;
  font-weight: bold;
}

.feedback-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}